* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
  transition: all 0.2s ease-in;
}

/* INFO */
/* WEBSITE NAME: Savage Meal */

:root {
  /* Colors(with black too) */
  --main-color: #ecc19c;
  --secondary-color: #1e847f;
  --main-font-size: 96px;
  --secondary-font-size: 48px;
  --main-letter-spacing: 3.5px;
  --home-page-grid-template-columns: repeat(3, 25%);
  --falling-ingredient-speed: 4s;
}
*:focus-visible {
  outline: 1px solid var(--main-color);
  border-radius: 0.5rem;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ANIMATIONS */
@keyframes background-an {
  20% {
    background-image: url("https://res.cloudinary.com/birthdayreminder/image/upload/Savage%20Meal/v1665847798/image1_hdm6v2.jpg");
  }
  40% {
    background-image: url("https://res.cloudinary.com/birthdayreminder/image/upload/Savage%20Meal/v1665847802/image2_lqkdwt.jpg");
  }
  60% {
    background-image: url("https://www.themealdb.com/images/media/meals/tyywsw1505930373.jpg");
  }
  80% {
    background-image: url("https://res.cloudinary.com/birthdayreminder/image/upload/Savage%20Meal/v1665847810/image4_mu4j0r.jpg");
  }
  100% {
    background-image: url("https://res.cloudinary.com/birthdayreminder/image/upload/Savage%20Meal/v1665847816/image5_lbqorv.jpg");
  }
}

@keyframes ingredientFalling {
  from {
    top: 0;
    opacity: 1;
    transform: scale(1.6) rotate(0deg);
  }
  to {
    top: 95%;
    opacity: 0.7;
    transform: scale(0.6) rotate(180deg);
  }
}

/* NAVBAR */
/* =========================== */
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  height: 5rem;
  width: 100%;
  margin-bottom: auto;
}

.menu-button > img {
  width: 50px;
  height: 50px;
  transition: transform 0.25s;
}

.menu-button {
  background-color: inherit;
  position: relative;
  border: none;
  cursor: crosshair;
}

.menu-button > img:hover {
  transform: rotate(90deg);
}

.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  transition: transform 0.15s;
}

.logo:hover {
  transform: scale(1.1);
}

.logo > img {
  width: 50px;
  height: 50px;
}

.logo > h2 {
  color: var(--main-color);
  font-size: 32px;
  letter-spacing: var(--main-letter-spacing);
}
/* =========================== */

/* FOOTER */
/* ================= */
.footer {
  display: flex;
  width: 100%;
  background-color: var(--secondary-color);
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 5rem;
  margin-top: auto;
  z-index: 2;
}

.footer-mealdb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  transition: transform 0.1s;
}

.footer-mealdb:hover {
  transform: scale(1.1);
}

.footer-mealdb > p {
  color: var(--main-color);
  font-size: 20px;
}

.footer-mealdb > img {
  width: 296px;
  height: 41px;
}
/* ================= */

/* MAIN CONTENT FIRST PART */
/* ========================== */
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.first-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("https://res.cloudinary.com/birthdayreminder/image/upload/Savage%20Meal/v1665847798/image1_hdm6v2.jpg");
  animation: background-an 5s alternate infinite;
  background-position: center;
  background-size: cover;
  height: auto;
}

.first-section-content {
  border: 1px solid black;
  margin: 2rem;
  width: 50%;
  height: 25rem;
  padding: 2rem;
  margin-bottom: 7.5rem;
  margin-top: 5.5rem;
  background-color: var(--main-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
}

.content-title {
  font-size: var(--main-font-size);
}

.first-section-content > h2 {
  font-size: var(--secondary-font-size);
}

.first-section-content > form > input {
  width: 80%;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  margin-top: 5rem;
  border: none;
  height: 2.5rem;
  padding: 1rem;
  color: var(--main-color);
  font-size: 1.2rem;
}

.first-section-content > form > input::placeholder {
  color: var(--main-color);
}

.first-section-content > form > input:focus {
  outline: 1px solid black;
}

.first-section-content > form {
  width: 100%;
}

/* ========================== */

/* MAIN CONTENT SECOND PART */
/* ========================== */
.second-section {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.second-section > img {
  width: 100%;
  height: auto;
}
.second-section > h1 {
  font-size: 72px;
  letter-spacing: var(--main-letter-spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.second-section > h1 > a {
  text-decoration: none;
  font-size: 50px;
}

.second-section > h1 > a:hover {
  text-decoration: underline;
}

.search-results-container {
  display: grid;
  grid-template-columns: var(--home-page-grid-template-columns);
  padding: 3rem 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  row-gap: 6rem;
  padding-bottom: 10rem;
}

.meal-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: -2px 2px 5px 1px black;
  transition: transform 0.2s;
  text-decoration: none;
}

.meal-container:hover {
  transform: scale(1.2);
}

.meal-container > img {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  object-fit: cover;
}

.meal-container-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid green;
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.meal-container-info > h2 {
  font-size: 40px;
}

.meal-container-info > p {
  font-size: 32px;
}

/* ========================== */

/* SIDEBAR */
/* ==================== */
.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: var(--main-color);
  display: flex;
  width: 600px;
  transform: translateX(100%);
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  border-left: 3px solid black;
  transition: transform 0.5s;
}

.sidebar-active {
  transform: translateX(0);
}

.sidebar-container h2 {
  color: black;
  font-size: var(--secondary-font-size);
}

.sidebar-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  list-style: none;
  gap: 0.75rem;
  font-size: 32px;
  align-self: flex-start;
  margin-left: 1rem;
  padding: 0.5rem;
}

.sidebar-links > li > a {
  text-decoration: none;
  color: black;
}

.sidebar-button {
  background-color: inherit;
  border: none;
  display: grid;
  place-items: center;
  transition: transform 0.2s;
  align-self: flex-end;
}

.sidebar-button > img {
  width: 25px;
  height: 25px;
}

.sidebar-button:hover {
  transform: scale(1.5);
}

.sidebar-bottom {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
}

.sidebar-bottom > .footer-mealdb > p {
  color: black;
}

/* ==================== */

/* GALLERY PAGE ADAPTATIONS */

.gallery .footer-mealdb > p {
  color: black;
}

.gallery .footer-mealdb {
  align-self: flex-end;
}

.gallery .first-section-content {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

/* ABOUT US PAGE ADAPTATIONS */
.aboutus .first-section {
  height: 55rem;
}

.aboutus .first-section-content {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

/* INGREDIENTS PAGE ADAPTATIONS */
.ingredients .first-section-content {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.ingredients .footer-mealdb > p {
  color: black;
}

.ingredients .footer-mealdb {
  align-self: flex-end;
}

/* FAVORITES PAGE ADAPTATIONS */
.favorites .footer-mealdb > p {
  color: black;
}

.favorites .footer-mealdb {
  align-self: flex-end;
}

.favorites .first-section-content {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

/* INDIVIDUAL MEAL ADAPTATIONS */

.meal .first-section {
  background-image: none;
  background-color: var(--main-color);
  animation: none;
  align-items: flex-start;
  justify-content: flex-start;
}

.meal .meal-details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15rem;
  padding: 5rem 4rem;
}

.meal .meal-image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.meal .meal-image > img {
  border-radius: 35%;
  border: 2px solid black;
}

.meal .meal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  padding: 2rem;
}

#meal-info-title {
  font-size: var(--main-font-size);
}

.meal .meal-info > p {
  font-size: var(--secondary-font-size);
}

.meal .meal-instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5rem 4rem;
}

.meal .meal-instructions > h1 {
  font-size: var(--main-font-size);
}

.meal .meal-instructions > p {
  font-size: 32px;
  font-weight: 800;
}

.meal .meal-ingredients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 5rem 4rem;
  width: 100%;
}

.meal .meal-ingredients > h1 {
  font-size: var(--main-font-size);
}

.meal .second-section {
  align-items: flex-start;
  justify-items: flex-start;
}

.meal .meal-tutorial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  gap: 0.5rem;
  padding: 5rem 4rem;
  width: 100%;
}

.meal .meal-tutorial > h1 {
  font-size: var(--main-font-size);
}

.meal .meal-tutorial > iframe {
  width: 40%;
  height: 25rem;
  border: none;
}

.meal-ingredients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.meal-list-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
}

.meal-list-li > img {
  width: 200px;
  height: 200px;
}

/* INGREDIENT PAGE ADAPTATIONS */

.ingredient .first-section-content {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 65%;
  height: 52.5rem;
}

.ingredient .first-section {
  animation: none;
  background-image: url("https://www.technocrazed.com/wp-content/uploads/2015/12/Kitchen-wallpaper-3.jpg");
}

.image-abs {
  position: absolute;
  top: 0;
  z-index: 1;
  animation: ingredientFalling var(--falling-ingredient-speed) linear infinite;
  transition: top 0.2s, opacity 0.2s, transform 0.2s;
}

.image-abs:nth-child(1) {
  left: 10%;
  --falling-ingredient-speed: 1.7s;
}
.image-abs:nth-child(2) {
  left: 20%;
  --falling-ingredient-speed: 6s;
}
.image-abs:nth-child(3) {
  left: 30%;
  --falling-ingredient-speed: 2s;
}
.image-abs:nth-child(4) {
  left: 40%;
  --falling-ingredient-speed: 2.5s;
}
.image-abs:nth-child(5) {
  right: 40%;
  --falling-ingredient-speed: 9s;
}
.image-abs:nth-child(6) {
  right: 30%;
  --falling-ingredient-speed: 2.2s;
}
.image-abs:nth-child(7) {
  right: 20%;
  --falling-ingredient-speed: 4s;
}
.image-abs:nth-child(8) {
  right: 10%;
  --falling-ingredient-speed: 3.2s;
}
.image-abs:nth-child(9) {
  right: 5%;
  --falling-ingredient-speed: 3s;
}
.image-abs:nth-child(10) {
  left: 5%;
  --falling-ingredient-speed: 2.7s;
}

.ingredient-info {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  width: 100%;
  padding: 0 3rem;
}

.ingredient-findings {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.ingredient-findings > h2 {
  font-size: 64px;
}

.ingredient-in-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.ingredient-in-list-li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  color: black;
}

.ingredient-in-list-li {
  transition: transform 0.3s;
}

.ingredient-in-list-li:hover {
  transform: scale(1.2);
}

.ingredient-in-list-li > a > h2 {
  font-size: 32px;
}

.ingredient-in-list-li > a > img {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  border-radius: 50%;
}

/* MEDIA QUERIES */
/* NAVBAR AND FOOTER*/
@media all and (max-width: 750px) {
  .footer-mealdb > p {
    color: var(--main-color);
    font-size: 15px;
  }

  .footer-mealdb > img {
    width: 200px;
    height: auto;
  }
}

@media all and (max-width: 625px) {
  .footer > .logo > img,
  .navigation-bar > .logo > img {
    width: 40px;
    height: 40px;
  }

  .footer > .logo > h2,
  .navigation-bar > .logo > h2 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .menu-button > img {
    width: 40px;
    height: 40px;
  }
}

@media all and (max-width: 525px) {
  .footer {
    padding: 0.75rem 1rem;
  }
  .navigation-bar {
    padding: 0.75rem 1rem;
  }
  .footer > .footer-mealdb > p {
    display: none;
  }
  .footer > .footer-mealdb > img {
    width: 140px;
  }
}

@media all and (max-width: 350px) {
  .footer > .footer-mealdb > img {
    width: 100px;
  }
}

/* HOME PAGE */
/* FIRST SECTION */
@media all and (max-width: 1350px) {
  .first-section-content {
    height: auto;
  }
  .first-section > img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  .ingredient .first-section > img {
    height: 100px;
    width: 100px;
  }
}

@media all and (max-width: 1150px) {
  .first-section-content {
    width: 90%;
  }
  .first-section {
    align-items: center;
  }
}

@media all and (max-width: 750px) {
  .content-title {
    font-size: 64px;
  }

  .first-section-content > h2 {
    font-size: 36px;
  }
}

@media all and (max-width: 500px) {
  .content-title {
    font-size: 48px;
  }

  .first-section-content > h2 {
    font-size: 24px;
  }
}

@media all and (max-width: 375px) {
  .first-section-content {
    width: 95%;
  }
  .first-section-content {
    padding: 1rem;
  }
}
/* SECOND SECTION */
@media all and (max-width: 625px) {
  .second-section > img {
    display: none;
  }
  .second-section > h1 {
    margin-top: 3.5rem;
  }
}

@media all and (max-width: 1125px) {
  .second-section > h1 {
    font-size: 48px;
  }

  .second-section > h1 > a {
    font-size: 28px;
  }
}

@media all and (max-width: 780px) {
  .second-section > h1 {
    font-size: 36px;
  }

  .second-section > h1 > a {
    font-size: 18px;
  }
}

@media all and (max-width: 600px) {
  .second-section > h1 {
    font-size: 24px;
  }

  .second-section > h1 > a {
    font-size: 14px;
  }
}

@media all and (max-width: 500px) {
  .second-section > h1 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
  }
}

@media all and (max-width: 1150px) {
  .search-results-container {
    --home-page-grid-template-columns: repeat(2, 37.5%);
  }
}

@media all and (max-width: 800px) {
  .search-results-container {
    --home-page-grid-template-columns: 75%;
  }
}

@media all and (max-width: 425px) {
  .search-results-container {
    --home-page-grid-template-columns: 85%;
  }
}

@media all and (max-width: 385px) {
  .meal-container-info > h2 {
    font-size: 32px;
  }

  .meal-container-info > p {
    font-size: 24px;
  }
}
/* SIDEBAR */
@media all and (max-width: 1300px) {
  .sidebar-container {
    width: 100%;
  }
}

@media all and (max-width: 400px) {
  .sidebar-container > .logo > h2 {
    font-size: 25px;
  }
  .sidebar-links {
    font-size: 24px;
  }
  .sidebar-container > .sidebar-bottom > .footer-mealdb > p {
    display: none;
  }
  .sidebar-bottom {
    padding: 0.5rem;
  }
}
/* FAVORITES/GALLERY/INGREDIENTS PAGES */
@media all and (max-width: 375px) {
  .gallery .first-section-content > .footer-mealdb > p,
  .favorites .first-section-content > .footer-mealdb > p,
  .ingredients .first-section-content > .footer-mealdb > p {
    display: none;
  }
}

/* INDIVIDUAL MEAL PAGE ADAPTATIONS */

@media all and (max-width: 1850px) {
  .meal .meal-details {
    gap: 5rem;
  }
}

@media all and (max-width: 1700px) {
  #meal-info-title {
    font-size: 64px;
  }

  .meal .meal-info > p {
    font-size: 36px;
  }
}

@media all and (max-width: 1500px) {
  .meal .meal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5rem 4rem;
  }
  .meal .first-section {
    align-items: center;
    justify-content: center;
  }
}

@media all and (max-width: 1050px) {
  .meal .meal-image > img {
    width: auto;
    height: auto;
  }
}

@media all and (max-width: 1000px) {
  .meal .meal-image > img {
    width: 600px;
  }
}

@media all and (max-width: 825px) {
  #meal-info-title {
    font-size: 48px;
  }

  .meal .meal-info > p {
    font-size: 24px;
  }
  .meal .meal-image > img {
    width: 400px;
  }
  .meal .meal-details {
    padding: 3rem 2rem;
  }
}

@media all and (max-width: 780px) {
  .meal .meal-instructions {
    padding: 3rem 2rem;
  }

  .meal .meal-instructions > h1 {
    font-size: 64px;
  }

  .meal .meal-instructions > p {
    font-size: 24px;
    font-weight: 800;
  }
  .meal .meal-ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 3rem 2rem;
    width: 100%;
  }
  .meal .meal-ingredients-list {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .meal .meal-ingredients > h1 {
    font-size: 64px;
  }
  .meal-list-li > img {
    width: 100px;
    height: 100px;
  }
  .meal .meal-tutorial {
    padding: 3rem 2rem;
  }

  .meal .meal-tutorial > h1 {
    font-size: 64px;
  }

  .meal .meal-tutorial > iframe {
    width: 90%;
    height: 25rem;
    border: none;
  }
}

@media all and (max-width: 625px) {
  .meal .meal-details {
    padding: 3rem 1rem;
  }
}

@media all and (max-width: 500px) {
  .meal .meal-image > img {
    width: 300px;
  }
  .meal .meal-details {
    gap: 1rem;
  }
  .meal .meal-info {
    gap: 1rem;
  }
}

@media all and (max-width: 400px) {
  #favorite-star {
    height: auto;
    width: 25px;
  }
  #meal-info-title {
    font-size: 36px;
  }

  .meal .meal-info > p {
    font-size: 18px;
  }
  .meal .meal-image > img {
    width: 250px;
  }
  .meal .meal-instructions {
    padding: 3rem 1rem;
  }

  .meal .meal-instructions > h1 {
    font-size: 36px;
  }

  .meal .meal-instructions > p {
    font-size: 18px;
  }
  .meal .meal-ingredients {
    padding: 3rem 1rem;
  }

  .meal .meal-ingredients > h1 {
    font-size: 36px;
  }
  .meal-list-li > img {
    width: 100px;
    height: 100px;
  }
  .meal .meal-tutorial {
    padding: 3rem 1rem;
  }

  .meal .meal-tutorial > h1 {
    font-size: 36px;
  }

  .meal .meal-tutorial > iframe {
    width: 100%;
    height: 25rem;
    border: none;
  }
}

/* INDIVIDUAL INGREDIENT PAGE ADAPTATIONS */
@media all and (max-width: 1450px) {
  .ingredient .ingredient-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ingredient .first-section-content {
    height: auto;
  }
}

@media all and (max-width: 1050px) {
  .ingredient .first-section > img {
    width: 75px;
    height: 75px;
  }
}

@media all and (max-width: 750px) {
  .ingredient-findings > h2 {
    font-size: 64px;
  }
  .ingredient .first-section-content {
    width: 80%;
  }
  .image-abs:nth-child(9) {
    right: 10%;
  }
  .image-abs:nth-child(10) {
    left: 10%;
  }
}

@media all and (max-width: 600px) {
  .ingredient-in-list-li > a > h2 {
    font-size: 24px;
  }
  .ingredient-info {
    padding: 0 1rem;
  }
}

@media all and (max-width: 500px) {
  .ingredient-findings > h2 {
    font-size: 48px;
  }
  .ingredient .first-section-content {
    width: 90%;
  }
}

@media all and (max-width: 400px) {
  .image-abs:nth-child(9) {
    right: 15%;
    --falling-ingredient-speed: 3s;
  }
  .image-abs:nth-child(10) {
    left: 15%;
    --falling-ingredient-speed: 2.7s;
  }
  .image-abs:nth-child(2) {
    left: 25%;
    --falling-ingredient-speed: 6s;
  }
  .image-abs:nth-child(7) {
    right: 25%;
    --falling-ingredient-speed: 4s;
  }
  .ingredient .first-section > img {
    width: 50px;
    height: 50px;
  }
  .ingredient-info > img {
    width: 200px;
    height: 200px;
  }
}
